*{
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button{
    margin-bottom: 12px;
}

#sketchPad{
    padding: 0;
    margin: 0;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    
    

}

.squareStyle{
    padding: 0;
    margin: 0;

    opacity: 0;
    border: 1px solid black;

}

